
OntwerpPatronenFullAdder/.vs/OntwerpPatronenFullAdder/v15/.suo

OntwerpPatronenFullAdder/.vs/OntwerpPatronenFullAdder/v15/Server/sqlite3/storage.ide-shm

OntwerpPatronenFullAdder/OntwerpPatronenFullAdder/bin/Debug/OntwerpPatronenFullAdder.exe

OntwerpPatronenFullAdder/OntwerpPatronenFullAdder/bin/Debug/OntwerpPatronenFullAdder.exe.config

OntwerpPatronenFullAdder/OntwerpPatronenFullAdder/bin/Debug/OntwerpPatronenFullAdder.pdb

OntwerpPatronenFullAdder/OntwerpPatronenFullAdder/obj/Debug/OntwerpPatronenFullAdder.csproj.FileListAbsolute.txt

OntwerpPatronenFullAdder/OntwerpPatronenFullAdder/obj/Debug/OntwerpPatronenFullAdder.exe

OntwerpPatronenFullAdder/OntwerpPatronenFullAdder/obj/Debug/OntwerpPatronenFullAdder.pdb

OntwerpPatronenFullAdder/.vs/OntwerpPatronenFullAdder/v15/Server/sqlite3/storage.ide-wal
